/*
 * Login: xdyrci02
 *
 * Doplnte sve reseni.
 *
 * Nezapomente pridat strucne hromadne komentare pro pravidla jednotlivych sekci
 * a pro netrivialni useky kodu.
 *
 * Snazte se dodat aspon castecne reseni, i snaha se hodnoti.
 */

 @font-face {
  font-family: Textile;
  src: url('../fonts/textile.ttf') format('truetype');
}
html{
  margin: 0;
  padding: 0;
}

body {
  margin: auto 0;
  background-image: url(../img/bg/bg-body.svg);
  padding: 0;
}

h2{
  font-family: 'Calistoga', sans-serif;
  letter-spacing:  0.2rem;
}

#heyoooo{
  display: none;
}

#about, #team .section-content, #events, #menu .section-content, #services{
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
}


/*Header-----------------------------------------------------------------------------------------*/
header {
  display: grid;
  grid-template-areas:
    'title title title title'
    'nav nav nav nav';
}

#header-menu {
  grid-area: nav;
  border-top: 2px dotted green;
  border-bottom: 2px dotted green;
  position: absolute;
  display: flex;
  justify-content: center;
  justify-self: center;
  top: 850px;
  width: 768px;
  z-index: 2;
}

#header-menu li {
  padding: 20px 35px;
}

#header-menu li:nth-child(3) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-right: 90px;
}

#header-menu li:nth-child(3)::after {
  margin-left: 25px;
  content: url(../img/custom/leaf.svg);
  display: inline-block;
  transform: scale(0.4) rotate(90deg);
  height: 20px;
  position: absolute;
  top: 20px;
  left: 340px;
}

/* title */

#header-title {
  position: relative; /* Add relative positioning */
  grid-area: title;
  display: grid;
  grid-template-columns: 0.75fr 0.3fr 0.3fr 0.3fr 0.3fr 0.75fr;
  grid-template-rows: 1fr 0.3fr 0.3fr 0.3fr 0.3fr 1fr;
  background-image: url(../img/bg/bg-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  line-height: 1;
}

#header-title span {
  color: white;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgb(144, 238, 144);
  font-family: 'Calistoga', sans-serif;
  margin: 0;
}

#header-title span:nth-child(1) {
  grid-area: Paddy;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: calc(7vw);
  text-align: center;
}

#header-title span:nth-child(2) {
  font-size: calc(4vw + 5px);
  position: relative;
  text-align: center;
  white-space: nowrap;
  grid-area: Irish;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}

#header-title span:nth-child(3) {
  font-size: calc(1vw + 10px);
  grid-area: South;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
}

#header-title span:nth-child(3)::before,
#header-title span:nth-child(3)::after {
  content: "";
  display: inline-block;
  background-image: url(../img/custom/flag.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 100px;
  position: absolute; /* Add absolute positioning */
}

#header-title span:nth-child(3)::before {
  left: 325px; /* Position the before pseudo-element */
  top: 260px; /* Position the before pseudo-element */
}

#header-title span:nth-child(3)::after {
  right: 325px; /* Position the after pseudo-element */
  top: 260px; /* Position the after pseudo-element */
  transform: scaleX(-1);
}

#header-title span:nth-child(4) {
  text-transform: none;
  grid-area: Bar;
  display: flex;
  align-items: center; 
  justify-content: center;
  font-size: calc(2vw + 5px);
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 6;
}
#header-title span:nth-child(4)::before,
#header-title span:nth-child(4)::after{
  content: '"';
}

@keyframes an-title {
  0% {
    opacity: 0;
    transform: translateY(350%);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%);
  }
}

#header-title::after{
  content: url(../img/custom/beers.png);
  position: absolute;
  bottom: -200px;
  left: -20px;
  width: calc(100% + 20px);
  overflow: hidden;
  object-fit: cover;
z-index: 5;
  
}

/* :not(.scrolled) #header-title span:nth-child(4){
  animation: an-title 2s forwards; 
}
.scrolled #header-title span:nth-child(4) {
  opacity: 0;
  animation: none; 
} */

img{
  max-width: 1200px;
}

#header-menu ul{
  list-style: none;
  display: flex;
  margin: 0px;
}
#header-menu a{
  text-decoration: none;
  color: black;
}




main{
  margin: 0;
  padding: 0;
}

/* main */
#about{
  display: grid;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  flex-direction: column;
  padding-top: 300px;
  padding-bottom: 200px;

  background-color: white;
  border-right: 2px dotted lightgreen;
  border-left: 2px dotted lightgreen;
}

#about .heading{
  text-align: center;
  
}

#about .heading h2{
  margin: 0;
  padding: 0;
  color: green;
  font-size: 16px;
}
#about .heading span{
  font-family: 'Textile', sans-serif;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}


#about .references a {
  display: none;
}

#about ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: end;
}
#about .name{
  display: flex;
  align-items: center;
  justify-content: end;
}
#about li {
  display: inline;
  font-size: 25px;
}

#about li::before {
  content: "★";
  color: green;
}

#about li:hover{
  color: lightblue;
}
#about::after {
  background-image: url(../img/custom/sprites.svg);
  background-position: 0 0;
  width: 150px;
  height: 320px;
  content: "";
  position: absolute;
  top: 150px;
  right: 150px;
  transform: rotate(-45deg);
  z-index: 5;
}

#about::before {
  background-image: url(../img/custom/sprites.svg);
  width: 150px;
  height: 320px;
  content: "";
  background-position: -450px 0;
  position: absolute;
  top: 550px;
  left: 125px;
  transform: rotate(-45deg);
  z-index: 5;
}
/* video */
.video-player {
  position: relative;
  width: 100%;
  max-width: 600px; /* Adjust as needed */
  margin: auto;
  overflow: hidden;
}

.video-content {
  position: relative;
}

.video-content video {
  width: 100%;
  display: block;
}

.video-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 10px;
}

.progress {
  width: 100%;
  height: 10px;
  background-color: #000;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 7;
}

.progress-bar {
  background-color: green;
}

.playpause {
  visibility: hidden;
  background-color: transparent;
  border: none;
  color: green;
  cursor: pointer;
}
.playpause::after {
  content: '\25B6';
  font-size: 25px;
  visibility: visible;
  position: absolute;
  left: 15px;
  top: 0;
}
/* .playpause::after {
  content: "";
  border-style: solid;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent #fff;
} */

.mute {
  background-color: transparent;
  border: none;
  color: green;
  cursor: pointer;
  visibility: hidden;
}
.mute::after {
  content: '\1F50A';
  font-size: 25px;
  visibility: visible;
  position: absolute;
  left: 50px;
  top: -4px;
}


.fullscreen {
  background-color: transparent;
  visibility: hidden;
  border: none;
  color: green;
  cursor: pointer;
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
}
.fullscreen::after{
  content: '\26F6';
  visibility: visible;
  font-size: 25px;
}

.time {
  color: green;
  position: absolute;
  left: 100px;
  top: 5px;
}




/* TEAM */

#team .section-item img {
  width: 275px;
  height: 275px;
  display: block;
  transition: transform 0.3s ease;    
}

#team {
  background-image: url(../img/bg/bg-team.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 0;
  position: relative;

}
#team::after {
  content: url(../img/custom/hr.svg);
  position: absolute;
  top: -50px;
  left: -20px;
  width: calc(100% + 20px);
  overflow: hidden;
  object-fit: cover;
}
#team::before {
  content: url(../img/custom/hr.svg);
  position: absolute;
  bottom: -50px;
  left: -20px;
  width: calc(100% + 20px);
  overflow: hidden;
  object-fit: cover;
}
#team .heading{
  text-align: center;
}

#team .heading h2{
  margin: 0;
  padding: 0;
  color: green;
  font-size: 16px;
}

#team .heading span{
  font-family: 'Textile', sans-serif;
  font-size: 1.5rem;
  margin:0;
  padding:0;
}

#team .section-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 10px;
  overflow: auto;
}
#team .section-item {
  background-color: #e8e7e7;
  padding: 10px;
  text-align: center;
  overflow: hidden;
}
#team .section-item:nth-child(1) {
  display: grid;
  grid-template-areas:
    'img1'
    'titleTeam1'
    'star1'
    'text1';
}
#team .section-item:nth-child(1) img{
  grid-area: img1;
}
#team .section-item:nth-child(1) .heading{
  grid-area: titleTeam1;
}
#team .section-item:nth-child(1) .references{
  grid-area: star1;
}
#team .section-item:nth-child(1) p{
  grid-area: text1;
}

#team .section-item:nth-child(2) {
  display: grid;
  grid-template-areas:
    'img2'
    'titleTeam2'
    'star2'
    'text2';
}
#team .section-item:nth-child(2) img{
  grid-area: img2;
}
#team .section-item:nth-child(2) .heading{
  grid-area: titleTeam2;
}
#team .section-item:nth-child(2) .references{
  grid-area: star2;
}
#team .section-item:nth-child(2) p{
  grid-area: text2;
}

#team .section-item:nth-child(3) {
  display: grid;
  grid-template-areas:
    'img3'
    'titleTeam3'
    'star3'
    'text3';
}
#team .section-item:nth-child(3) img{
  grid-area: img3;
}
#team .section-item:nth-child(3) .heading{
  grid-area: titleTeam3;
}
#team .section-item:nth-child(3) .references{
  grid-area: star3;
}
#team .section-item:nth-child(3) p{
  grid-area: text3;
}

#team .section-item:nth-child(4) {
  display: grid;
  grid-template-areas:
    'img4'
    'titleTeam4'
    'star4'
    'text4';
}
#team .section-item:nth-child(4) img{
  grid-area: img4;
}
#team .section-item:nth-child(4) .heading{
  grid-area: titleTeam4;
}
#team .section-item:nth-child(4) .references{
  grid-area: star4;
}
#team .section-item:nth-child(4) p{
  grid-area: text4;
}

#team .references a {
  display: none;
}
#team .section-item ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
#team li {
  display: inline;
  font-size: 25px;
}
#team li::before {
  content: "★";
  color: green;
}
#team .section-item:nth-child(1):hover,
#team .section-item:nth-child(3):hover{
  background-color: rgba(144, 238, 144, 0.75);
}
#team .section-item:nth-child(2):hover,
#team .section-item:nth-child(4):hover{
  background-color: rgba(222, 98, 45, 0.75);
}
#team .section-item:hover img {
  transform: scale(1.08); /* Scale the image to 1.1 times its original size on hover */
}

/* Events */
#events .heading{
  text-align: center;

  
}

#events .heading h2{
  margin: 0;
  padding: 0;
  color: green;
  font-size: 16px;
}

#events .heading span{
  font-family: 'Textile', sans-serif;
  font-size: 1.5rem;
  margin:0;
  padding:0;
}

#events{
  background-color: white;
  width: 1200px;
  padding-top: 100px;
  padding-bottom: 100px;
  border-right: 2px dotted lightgreen;
  border-left: 2px dotted lightgreen;
}
#events .references a {
  display: none;
}
#events .section-item ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
#events .events-props{
  display: grid;
  gap: 10px;
  place-items: baseline;
}
#events li {
  display: inline;
  font-size: 25px;
}
#events li::before {
  content: "★";
  color: green;
}



#events .section-item:nth-child(1) img{
  float: left;
  justify-content: left;
  width: 40%;
  height: auto;
  margin: 10px;
  margin-left: 20px;
}
#events .section-item:nth-child(1) {
  margin-bottom: 20px;
  border-bottom: 2px black dotted;
  overflow: hidden;
}
#events .section-item {
  justify-content: center;
  align-items: center;
}
#evets h2, #events .references {
  display: flex;
  justify-content: right;
  padding-right: 10px;
}
#events .section-item:nth-child(2) h3
, #events .section-item:nth-child(2) .events-props {
  display: flex;
  justify-content: right;
  padding-left: 10px;
}

#events .section-item:nth-child(2) img {
  float: right;
  justify-content: right;
  width: 40%;
  height: auto;
  margin: 10px 20px 10px 10px;
}
#events .section-item:nth-child(2) {
  border-bottom: 2px black dotted;
  overflow: hidden;
}

#events .section-item:nth-child(1) h3
, #events .section-item:nth-child(1) .events-props 
,#events .section-item:nth-child(3) h3
, #events .section-item:nth-child(3) .events-props{
  display: flex;
  justify-content: left;
  padding-right: 10px ;
}
#events .section-item:nth-child(3) img {
  float: left;
  justify-content: left;
  width: 40%;
  height: auto;
  margin: 10px;
  margin-left: 20px;
}
#events .section-item:nth-child(3) {
  margin-bottom: 20px;
  border-bottom: 2px black dotted;
  overflow: hidden;
}

/* menu */


#menu {
  background-image: url(../img/bg/bg-menu.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 0;
  position: relative;
}
#menu::after {
  content: url(../img/custom/hr.svg);
  position: absolute;
  top: -50px;
  left: -20px;
  width: calc(100% + 20px);
  overflow: hidden;
  object-fit: cover;
}
#menu::before {
  content: url(../img/custom/hr.svg);
  position: absolute;
  bottom: -50px;
  left: -20px;
  width: calc(100% + 20px);
  overflow: hidden;
  object-fit: cover;
}
#menu h3 a{
  color: black;
}
#menu .heading{
  text-align: center;
}

#menu .heading h2{
  margin: 0;
  padding: 0;
  color: lightgreen;
  font-size: 16px;
}

#menu .heading span{
  font-family: 'Textile', sans-serif;
  font-size: 1.5rem;
  margin:0;
  padding:0;
  color: white;
}

#menu .section-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: white 25px solid;
}

#menu .description{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#menu .description span::before{
  content: "$";
}
#menu .section-item:nth-child(1) .description,
#menu .section-item:nth-child(3) .description,
#menu .section-item:nth-child(7) .description{
  background-color: rgba(144, 238, 144, 0.75);
}
#menu .section-item:nth-child(2) .description,
#menu .section-item:nth-child(6) .description{
  background-color: rgba(236, 167, 200, 0.75);
}
#menu .section-item:nth-child(4) .description,
#menu .section-item:nth-child(5) .description{
  background-color: rgba(226, 221, 222, 0.75);
}

#menu .section-item {
  display: grid;
  grid-template-columns: 1fr 1fr; 
}
#menu .section-item .figures{
  grid-column: 1;
}
#menu .section-item .description{
  grid-column: 2;
}
#menu .section-item:nth-child(3){
  grid-column: 2;
  grid-row: 3 / span 2;
}
#menu .section-item:nth-child(7){
  grid-column: 1;
  grid-row: 4;
}
#menu img {

  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
}
#menu .figures {
  
  overflow: hidden;
}

#menu .section-item:nth-child(4) .figures,
#menu .section-item:nth-child(5) .figures,
#menu .section-item:nth-child(7) .figures{
  grid-column-start: 2;
  grid-row-start: 1;
}
#menu .section-item:nth-child(4) .description,
#menu .section-item:nth-child(5) .description,
#menu .section-item:nth-child(7) .description{
  grid-column-start: 1;
  grid-row-start: 1;
}

/* servis */

#services{
  width: 1200px;
  margin: 0 auto;
  background-color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  border-right: 2px dotted lightgreen;
  border-left: 2px dotted lightgreen;
}

#services .heading{
  text-align: center;
}

#services .heading h2{
  margin: 0;
  padding: 0;
  color: green;
  font-size: 16px;
}

#services .heading span{
  font-family: 'Textile', sans-serif;
  font-size: 1.5rem;
  margin:0;
  padding:0;
}

#services .section-content{
  background-color: black;
}

#services table{
  display: grid;
  margin-left: 35px;
}

#services table::after{
  content: '';
  grid-column-start: 2;
  background-image: url(../img/gang/heisenberg.jpg);
  width: 400px;
  height: 400px;
  float: right;
  background-size: contain; 
  background-repeat: no-repeat; 
  background-position: center; 
}

#services .section-content th{
  display: none;
}

#services .section-content td, a{
  color: white;
  text-decoration: none;
}

#services .section-content td:hover, a:hover{
  color: lightgreen;
}

#services .section-content td:first-child::after{
  content: '............'; 
  
  color: white; 
}

#services .section-content td:last-child{
  text-align: right;
}

#services .section-content td:last-child::before{
  content: "$";
  color: white;
}



/* contact */
#contact {
  background-image: url(../img/bg/bg-contact.jpg);
  padding: 70px 0;
  position: relative;
}
#contact::after {
  content: url(../img/custom/hr.svg);
  position: absolute;
  top: -50px;
  left: -20px;
  width: calc(100% + 20px);
  overflow: hidden;
  object-fit: cover;
  z-index: 6;
}
#contact::before {
  content: url(../img/custom/hr.svg);
  position: absolute;
  bottom: -50px;
  left: -20px;
  width: calc(100% + 20px);
  overflow: hidden;
  object-fit: cover;
  z-index: 6;
}
#contact .heading{
  text-align: center;
}

#contact .heading h2{
  margin: 0;
  padding: 0;
  color: lightgreen;
  font-size: 16px;
}

#contact .heading span{
  font-family: 'Textile', sans-serif;
  font-size: 1.5rem;
  margin:0;
  padding:0;
  color: white;
}

#contact .heading, .section-content{
  width: 1200px;
  margin: 0 auto;
}


#contact .section-content{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  
}

#contact .section-content img{
  grid-row: 1 / span 2; 
  grid-column: 1 / 2;
  
  padding-right: 0;
  margin-right: 0;
  height: 400px;
  border-style: solid;
  border-color: white;
  border-width: 6px;
}


#contact .section-content blockquote{
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 2;
  grid-column-end: 5;
  background-color: white;
  opacity: 0.5;
  margin-left: 0;
  margin-top: 0;
}


#contact .references ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
#contact .references li {
  display: inline;
  font-size: 25px;
}
#contact .references li::before {
  content: "★";
  color: green;
}
#contact .references a{
  display: none;
}


#contact .section-content .contact-form{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 5;
  margin-left: 10px;
  margin-right: 10px;
}

#contact .section-content .contact-form input[type="submit"]{
  display: block;
  margin: 0 auto; 
  width: 20%;
  background-color: pink;
  opacity: 0.5;
  border-style: solid;
  border-color: white;
  
}

#contact .section-content .contact-form input, select, textarea{
  display: block;
  width: 95%;
  margin-bottom: 20px;
  background-color: pink;
  opacity: 0.5;
  border-style: solid;
  border-color: white;
  margin-left: 0;
  margin-right: 0;

}

#contact .section-content .contact-form select, textarea{
  background-color: lightgreen;
  opacity: 0.5;
}

/* footer */

footer .section-content{
  height: 200px;
  background-color: white;
  border-right: 2px dotted lightgreen;
  border-left: 2px dotted lightgreen;
  font-weight: bold;
  font-family: 'Spectral', sans-serif;
  display: grid;
  grid-column: 1fr 1fr 1fr;
  grid-row: 1fr;
  position: relative;
}

footer span a{
  color: black;
  z-index: 6;
}

footer span a:hover{
  color: lightgreen;
}
footer span:nth-child(1){
  display: flex;
  align-items: center;
  padding-left: 20px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
footer span:nth-child(2){
  display: flex;
  align-items: center;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
footer span:nth-child(1)::after{
  content: '';
  background-image: url(../img/custom/gang.svg);
  z-index: 6;
  position: absolute;
  top: 0;
  left: 0;
}



/* sipka co je v pravo dole*/
#sweatshop {
  position:   fixed;
  bottom: 10px;
  right: 15px;
  display: flex;
  width: 40px;
  height: 40px;
  border: solid lightgreen;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

#sweatshop .fa-solid{
  text-decoration: none;
}
#sweatshop .fa-arrow-up{
  font-size: 20px;
  color: lightgreen;
  text-decoration: none;
}
